<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.demo.mapper.BoardMapper">

    <select id="showPostList" resultType="com.study.demo.board.BoardDTO">
        SELECT * FROM
            (SELECT rownum r, a.* FROM
                (select post_num, title, content, writer, reg_date, views
                    from board
                    where <include refid="searchKeyword"></include>
                    order by post_num desc) a)
            WHERE r BETWEEN #{postBeginPoint} AND #{postEndPoint}
    </select>

    <sql id="searchKeyword">
        <if test="searchType == 'title'">title like '%'||#{keyword}||'%'</if>
        <if test="searchType == 'content'">content like '%'||#{keyword}||'%'</if>
        <if test="searchType == 'titleAndContent'">title like '%'||#{keyword}||'%'
            or content like '%'||#{keyword}||'%'</if>
    </sql>

    <select id="readPost" resultType="com.study.demo.board.BoardDTO">
        select * from board
            where post_num=#{postNum}
    </select>

    <insert id="submitPost">
        insert into board
            values(POST_NUM_SEQ.nextval, #{title}, #{content}, #{writer}, sysdate, 0)
    </insert>

    <update id="submitModifyPost">
        update board
            set title=#{title}, content=#{content}, writer=#{writer}
            where post_num=#{postNum}
    </update>

    <delete id="deletePost">
        delete from board
            where post_num=#{postNum}
    </delete>

    <select id="countTotalPost" resultType="int">
        select count(*) from board
        where <include refid="searchKeyword"></include>
    </select>

    <insert id="addComment">
        INSERT INTO POST_COMMENT
            VALUES(#{postNum}, COMMENT_SEQ.nextval, #{writer}, SYSDATE, #{content})
    </insert>

    <select id="showCommentList" resultType="com.study.demo.board.PostCommentDTO">
        SELECT * FROM POST_COMMENT
            WHERE POST_NUM=#{postNum}
            ORDER BY COMMENT_NUM ASC
    </select>

    <delete id="deleteComment">
        delete from POST_COMMENT
            where COMMENT_NUM=#{commentNum}
    </delete>
</mapper>