<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.demo.mapper.BoardMapper">

    <resultMap id="MemberDTO" type="com.study.demo.member.MemberDTO">
        <result column="id" property="id" />
        <result column="nickName" property="nickName" />
    </resultMap>

    <resultMap id="PostCommentDTO" type="com.study.demo.board.PostCommentDTO">
        <result column="POST_NUM" property="postNum" />
        <result column="COMMENT_NUM" property="commentNum" />
        <result column="id" property="id" />
        <result column="REG_DATE" property="regDate" />
        <result column="content" property="content" />
        <collection property="memberDTO" resultMap="MemberDTO" />
    </resultMap>

    <select id="showPostList" resultType="com.study.demo.board.BoardDTO">
        SELECT * FROM
            (SELECT rownum r, a.* FROM
                (select post_num, title, content, writer, reg_date, views, COMMENT_COUNT, notice
                    from board
                    where <include refid="searchKeyword" /> and notice=0
                    order by post_num desc) a)
            WHERE r BETWEEN #{postBeginPoint} AND #{postEndPoint}
    </select>

    <sql id="searchKeyword">
        <if test="searchType == 'title'">title like '%'||#{keyword}||'%'</if>
        <if test="searchType == 'content'">content like '%'||#{keyword}||'%'</if>
        <if test="searchType == 'titleAndContent'">title like '%'||#{keyword}||'%'
            or content like '%'||#{keyword}||'%'</if>
    </sql>

    <select id="readPost" resultType="com.study.demo.board.BoardDTO">
        select * from board
            where post_num=#{postNum}
    </select>

    <insert id="submitPost">
        INSERT INTO BOARD(POST_NUM, TITLE, WRITER, REG_DATE, VIEWS, CONTENT, COMMENT_COUNT, NOTICE)
            VALUES(POST_NUM_SEQ.NEXTVAL, #{title}, #{writer}, sysdate, 0, #{content}, 0, #{notice})
    </insert>

    <update id="submitModifyPost">
        update board
            set title=#{title}, content=#{content}, writer=#{writer}, notice=#{notice}
            where post_num=#{postNum}
    </update>

    <delete id="deletePost">
        delete from board
            where post_num=#{postNum}
    </delete>

    <select id="countTotalPost" resultType="int">
        select count(*) from board
        where <include refid="searchKeyword" /> and notice=0
    </select>

    <select id="countTotalComment" resultType="int">
        SELECT count(*) from POST_COMMENT
            WHERE POST_NUM=#{postNum}
    </select>

    <insert id="addComment">
        INSERT INTO POST_COMMENT
            VALUES(#{postNum}, COMMENT_SEQ.nextval, #{id}, SYSDATE, #{content})
    </insert>

    <select id="showCommentList" resultMap="PostCommentDTO">
        SELECT * FROM
            (SELECT ROWNUM R, A.* FROM
                (SELECT A.POST_NUM, A.COMMENT_NUM, A.ID, A.REG_DATE, A.CONTENT, B.NICKNAME
                    FROM POST_COMMENT A, MEMBER B
                    WHERE A.ID=B.ID AND A.POST_NUM=#{postNum}
                    ORDER BY A.COMMENT_NUM DESC) A)
            WHERE R BETWEEN #{postBeginPoint} AND #{postEndPoint}
            ORDER BY COMMENT_NUM
    </select>

    <delete id="deleteComment">
        delete from POST_COMMENT
            where COMMENT_NUM=#{commentNum}
    </delete>

    <update id="updateCommentCount">
        UPDATE board
            SET COMMENT_COUNT=
                (SELECT COUNT(*) FROM POST_COMMENT
                    WHERE POST_NUM=#{postNum})
            WHERE POST_NUM=#{postNum}
    </update>
    
    <update id="updateViews">
        UPDATE BOARD
            SET VIEWS= VIEWS + 1
            WHERE POST_NUM=#{postNum}
    </update>

    <insert id="saveViewUserIp">
        INSERT INTO board_views_detail
            VALUES(#{postNum}, #{ip}, SYSDATE)
    </insert>

    <select id="checkViewUserIp" resultType="int">
        SELECT COUNT(*) FROM board_views_detail
            WHERE POST_NUM=#{postNum} AND IP=#{ip}
    </select>

    <select id="showSelfNoticeList" resultType="com.study.demo.board.BoardDTO">
        SELECT * FROM BOARD
            WHERE NOTICE=1
            ORDER BY POST_NUM DESC
    </select>

    <select id="showFullNoticeList" resultType="com.study.demo.fullNotice.FullNoticeDTO">
        SELECT * FROM FULL_NOTICE
            WHERE NOTICE=1
            ORDER BY POST_NUM DESC
    </select>

</mapper>