<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.column.mapper.MemberMapper">

    <select id="isUniqueId" resultType="String">
        SELECT COUNT(*) FROM MEMBER
            WHERE id=#{id}
    </select>

    <insert id="submitSignUp">
        INSERT INTO MEMBER
            VALUES(#{id}, #{pw}, #{nickName}, #{email}, 1, NOW())
    </insert>

    <select id="checkLoginData" resultType="com.study.column.member.MemberDTO">
        SELECT * FROM MEMBER
            WHERE ID=#{id} AND PW=#{pw}
    </select>

    <update id="submitModifyMyInfo">
        UPDATE MEMBER
            SET PW=#{pw}, NICKNAME=#{nickName}, EMAIL=#{email}
            WHERE ID=#{id}
    </update>

</mapper>