<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.demo.mapper.VideoMapper">
    <insert id="submitVideoPost">
        insert into VIDEO values(VIDEO_NUM_SEQ.nextval, #{title}, #{videoUrl}, sysdate)
    </insert>

    <select id="showVideoList" resultType="com.study.demo.video.VideoDTO">
        select *
            from video
            order by video_num desc
    </select>

    <delete id="deleteVideoPost">
        delete from video
        where video_num=#{videoNum}
    </delete>
</mapper>